body {
  font-family: $sans-serif;
  font-weight: 300;
  background-color: #262626;
}

h1,
h2 {
  font-family: $serif;
  font-weight: 400;
}

$main-margins: 2rem;

main {
  min-height: 86vh;
  background-color: #fff;
}

a {
  color: $blue;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.big-button {
  // margin-top: 0.5rem;
  padding: 0.4rem 0.7rem;
  border: 1px solid $gray;
  border-radius: 0.3rem;
  text-align: center;

  @media (hover: hover) {
    &:hover {
      background-color: $graylighter;
    }
  }

  &.disabled {
    background-color: $graylight !important;
    color: $graydark !important;

    @media (hover: hover) {
      &:hover {
        cursor: default;
      }
    }
  }

  & > svg {
    color: $gray;

    & + span {
      margin-left: 0.3rem;
    }
  }
}

.link-button,
.nav-button {
  & > svg + span {
    margin-left: 0.3rem;
  }
}

.link-button {
  color: $blue;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }

  &.likes-button {
    position: relative;
    &.liked {
      color: salmon;
      @media (hover: hover) {
        &:hover::after {
          content: attr(title);
          position: absolute;
          background-color: $graylightest;
          padding: 0.3rem;
          top: -1.8rem;
          left: -0.2rem;
          border-radius: 5px;
          color: $blue;
        }
      }
    }

    &.unliked {
      @media (hover: hover) {
        &:hover {
          color: salmon;
          &::after {
            content: attr(title);
            position: absolute;
            background-color: $graylightest;
            padding: 0.3rem;
            top: -1.8rem;
            left: -0.2rem;
            border-radius: 5px;
          }
        }
      }
    }

    &:disabled {
      @media (hover: hover) {
        cursor: not-allowed;
      }
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
  border: 1px solid $graylighter;
  padding: 0.5rem;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  font-family: $sans-serif;
  font-size: 1rem;
}

.disabled-void-text {
  color: $gray;
  font-style: italic;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
  padding: 0.2rem 0;
  color: $graydark;

  &.extra-vertical-padding {
    padding: 0.5rem 0;
  }
}

.search-autocomplete {
  min-width: 10rem;
  width: 100%;
  color: black;

  .search-autocomplete__multi-value {
    .image {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }

    .more-info {
      display: none;
    }
  }

  .search-autocomplete__option {
    .image {
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
    }
  }

  .search-autocomplete-option {
    display: flex;

    .label-and-details {
      display: flex;
      flex-direction: column;

      .more-info {
        font-size: 0.8rem;
        font-style: italic;

        span {
          padding-right: 0.2rem;
        }
      }

      & > div {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .search-autocomplete__value-container {
    flex-grow: 1;
    .search-autocomplete-option {
      .more-info {
        display: none;
      }
    }

    .search-autocomplete__placeholder {
      z-index: 0;
    }
  }
}

.edited-indicator {
  .indicator-text {
    display: none;
    background-color: #fff;
    margin-left: 0.1rem;
    *:hover > & {
      display: initial;
    }
  }
}
