body {
  font-family: $sans-serif;
  font-weight: 300;
}

h1,
h2 {
  font-family: $serif;
  font-weight: 400;
}

$main-margins: 2rem;

main {
  min-height: 86vh;
}

a {
  color: $blue;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.big-button {
  // margin-top: 0.5rem;
  padding: 0.4rem 0.7rem;
  border: 1px solid $gray;
  border-radius: 3px;

  @media (hover: hover) {
    &:hover {
      background-color: $graylighter;
    }
  }

  & > svg {
    color: $gray;

    & + span {
      margin-left: 0.3rem;
    }
  }
}

.link-button,
.nav-button {
  & > svg + span {
    margin-left: 0.3rem;
  }
}

.link-button {
  color: $blue;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  border: 1px solid $graylighter;
  padding: 0.5rem;
}

select {
  font-family: $sans-serif;
  font-size: 1rem;
  max-width: 15rem;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
  padding: 0.2rem 0;
  color: $graydark;

  &.extra-vertical-padding {
    padding: 0.5rem 0;
  }
}
