.site-header {
  border-bottom: 1px solid $graydarker;
  background-color: #333;
  color: #fff;
  height: 9rem;

  a {
    color: white;
  }

  .site-header-title {
    font-family: $display;
    font-size: 3rem;
    padding-left: 1rem;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2a2a2a;

    .nav-resources-menu {
      display: flex;
      align-items: center;
      width: 80%;

      .search-autocomplete {
        width: 10rem;
        flex-grow: 1;
      }
    }

    a,
    button {
      margin-right: 2rem;
    }
  }
}
