.images-modal {
  background-color: #00000066;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .images-modal-content-wrapper {
    background-color: $images-modal-bgcolor;
    color: white;
    width: 80vw;
    max-width: 50rem;
    height: 80vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding: 1rem;

    .big-button,
    input[type="text"] {
      background-color: white;
      color: black;
    }

    .edit-images-button {
      position: absolute;
      top: -9vh;
    }

    .modal-close-button {
      position: absolute;
      top: 2%;
      right: 2%;
    }

    .images-modal-content {
      width: 90%;
      overflow: scroll;
    }
  }
}
