.resource-main-info {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem $main-margins;
  box-sizing: border-box;
  border-bottom: 1px solid $graylighter;

  $image-size: 15rem;

  .resource-image {
    margin-right: 3rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .main-image {
      width: $image-size;
      margin-bottom: 0.5rem;
      border: 3px dashed transparent;
      box-sizing: border-box;

      @media (hover: hover) {
        &:hover {
          cursor: pointer;
        }
      }

      &.default-image {
        border-color: $graylight;
      }
    }
  }

  .resource-details {
    display: table;
    height: $image-size;
    position: relative;

    .loading-spinner {
      font-size: 4rem;
      width: 100%;
      margin-left: 10vw;
    }

    .resource-heading {
      display: table;
      margin-bottom: 1rem;

      & > span {
        display: flex;
        flex-wrap: wrap;

        div {
          margin-right: 0.5rem;
        }
      }
    }

    .icon-button {
      color: $gray;
    }

    .details-value > * {
      margin-right: 0.5rem;
    }

    h2 {
      font-size: 2rem;
    }

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 3rem;
    }

    .search-autocomplete {
      width: 100%;
      max-width: 25rem;
    }

    .resource-main-info-form {
      display: flex;
      width: 40vw;
      button {
        margin-left: 1rem;
      }

      &.heading-form {
        flex-direction: column;

        div {
          margin-top: 0.5rem;
        }

        input {
          font-size: 2rem;
          font-family: $serif;
        }
      }

      .string-array-select {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          margin-bottom: 0.5rem;
        }

        .string-array-list {
          display: flex;
          font-size: 0.7rem;
          font-weight: 700;
          flex-wrap: wrap;
        }
      }
    }

    .details-label {
      width: 10rem;
    }
  }
}
