.resource-show-container {
  .resource-show-body {
    display: flex;
    justify-content: space-between;
    padding: 0 $main-margins;

    .resource-show-section-header {
      margin-bottom: 0.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 1.3rem;
        display: inline-block;
      }
    }

    & > div > div {
      margin-bottom: 2rem;

      &.rating-stars {
        margin-bottom: 0;
      }
    }

    .resource-show-main {
      min-height: 63vh;
      width: 68%;
      padding-top: 1rem;
      padding-right: 2%;
      border-right: 1px solid $graylighter;
      box-sizing: border-box;
    }

    .resource-show-aside {
      width: 32%;
      padding-top: 1rem;
      padding-left: 2%;
      box-sizing: border-box;
    }
  }
}
