.resource-main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem $main-margins;
  border-bottom: 1px solid $graylighter;

  $image-size: 12rem;

  .resource-image {
    margin-right: 4rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: $image-size;
      margin-bottom: 0.5rem;
      border: 3px dashed transparent;
      box-sizing: border-box;

      &.default-image {
        border-color: $graylight;
      }
    }
  }

  .resource-details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    height: $image-size;
    position: relative;

    .icon-button {
      margin-left: 0.6rem;
      color: $gray;
    }

    .toggle-edit-button {
      position: absolute;
      bottom: 0rem;
      right: 0rem;

      &.edit-mode-on {
        color: $graylighter;
        background-color: $graydarker;
        svg {
          color: $graylighter;
        }
      }

      &.edit-mode-off {
        color: $graydarker;
      }
    }

    h2 {
      font-size: 2rem;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 2.5rem;
    }
    .details-label {
      width: 10rem;
    }
  }
}
