.small-comments-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;

  button {
    min-width: 10rem;
  }
}

.comments-index {
  padding-left: 0.7rem;
  border-left: 2px solid;

  &.indent-0 {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
  }

  .comment {
    .comment-details {
      margin-top: 1.2rem;

      &.deleted {
        font-style: italic;
        color: $graylight;
      }
    }

    .comment-details,
    .comment-interactions {
      font-size: 0.8rem;
      font-weight: 700;
      color: $graylight;
      display: flex;
      flex-direction: row;

      span {
        margin-right: 1rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
