.comment-form,
.review-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .ratings-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    align-items: center;
  }

  textarea {
    max-height: 15rem;
  }
}

.review-form {
  flex-direction: column;

  textarea {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.comment-form {
  flex-wrap: wrap;
  justify-content: flex-end;

  button[type="submit"] {
    margin-left: 0.5rem;
  }

  textarea {
    flex-grow: 1;
    min-width: 14rem;
    margin-bottom: 0.5rem;
  }
}
