.small-comments-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-index {
  padding-left: 0.7rem;
  border-left: 2px solid $graylighter;

  &.indent-0 {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
  }

  .comment {
    .comment-body {
      margin-top: 0.5rem;
    }

    .comment-details {
      font-size: 0.8rem;
      font-weight: 700;
      color: $gray;
      display: flex;
      flex-direction: row;

      span {
        margin-right: 1rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
