.track-form {
  .form-section {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 0.5rem;

    & > * {
      margin-right: 0.5rem;
    }

    & > span {
      padding: 0.5rem;
    }

    &.add-personnel-menu {
      justify-content: space-between;
    }
  }

  .track-number {
    display: flex;
    flex-direction: column;

    .track-number-input {
      max-width: 4rem;
    }
  }

  .time-input {
    max-width: 3rem;
    text-align: right;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .title-input {
    flex-grow: 1;
  }
}
