.track-form {
  .form-section {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 0.5rem;

    & > * {
      margin-right: 0.5rem;
    }

    & > span {
      padding: 0.5rem;
    }

    &.add-personnel-menu {
      justify-content: space-between;
    }

    .track-form-personnel-section {
      width: 100%;

      .track-form-personnel-select {
        width: 100%;
        & > div {
          display: flex;
          * {
            margin-right: 0.5rem;
          }
        }

        button {
          font-size: 1.5rem;
          color: $graydark;
        }
      }

      .selected-personnel-list {
        padding: 0.5rem;
        li {
          display: flex;

          @media (hover: hover) {
            &:hover {
              background-color: $graylightest;
            }
          }

          & > * {
            margin-right: 0.5rem;
          }

          & > span {
            border-left: 1px solid $graylight;
            padding: 0 0.5rem;
          }

          button {
            @keyframes remove-slider {
              from {
                width: 0rem;
              }
              to {
                width: 3.7rem;
              }
            }
            span {
              display: inline-flex;
              overflow: hidden;
              width: 0rem;
            }

            &:hover {
              color: red;

              span {
                animation-name: remove-slider;
                animation-duration: 0.5s;
                animation-fill-mode: both;
              }
            }
          }
        }
      }
    }
  }

  .track-number {
    display: flex;
    flex-direction: column;

    .track-number-input {
      max-width: 4rem;
    }
  }

  .time-input {
    max-width: 3rem;
    text-align: right;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .title-input {
    flex-grow: 1;
  }
}
